.faixa{
    width: 60vw;
    height: 60vh;
    background-color: var(--color-faixa);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.vencedor{
    
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.restart{
   background-color: var(--color-fundo);
   margin: 20px;
   
   transition: 0.3s;
   border-radius: 10px;
}

.restart h2{
    border: 0;
    padding: 0;
    margin: 3px;
}

.restart:hover{
    background-color: white;
    cursor: pointer;
    color: var(--color-fundo);
    
}