#jogo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 450px;
    height: 450px;
}

.GameOFF{
    pointer-events: none;
}


.blocos{
    width: 150px;
    height: 150px;
    border-radius: var(--openBorder);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

#bloco1{
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateX(-1000px) translateY(-1000px);

    animation: bloco1 2s forwards;
    animation-delay: 0.5s;
}

@keyframes bloco1 {
    100%{
        transform: translateX(0) translateY(0);
    }
}



#bloco2{
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateY(-1000px);

    animation: bloco2 2s forwards;
    animation-delay: 1s;
}

@keyframes bloco2 {
    100%{
        transform: translateY(0);
    }
}



#bloco3{
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateY(-1000px) translateX(1000px);

    animation: bloco3 2s forwards;
    animation-delay: 1.5s;
}

@keyframes bloco3 {
    100%{
        transform: translateY(0) translateX(0);
    }
}



#bloco4{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateX(-1000px);

    animation: bloco4 2s forwards;
    animation-delay: 2s;
}

@keyframes bloco4 {
    100%{
        transform: translateX(0);
    }
}



#bloco5{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);

    animation: bloco5 2s forwards;
}

@keyframes bloco5 {
    0%{
        transform: scale(0);
    }
}



#bloco6{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-bottom: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateX(1000px);

    animation: bloco6 2s forwards;
    animation-delay: 2.5s;
}

@keyframes bloco6 {
    100%{
        transform: translateX(0);
    }
}




#bloco7{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateY(1000px) translateX(-1000px);

    animation: bloco7 2s forwards;
    animation-delay: 3s;
}

@keyframes bloco7 {
    100%{
        transform: translateY(0) translateX(0);
    }
}



#bloco8{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-right: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateY(1000px);

    animation: bloco8 2s forwards;
    animation-delay: 3.5s;
}

@keyframes bloco8 {
    100%{
        transform: translateY(0);
    }
}




#bloco9{
    border-top: solid var(--color-velhaAreaEletra) var(--size);
    border-left: solid var(--color-velhaAreaEletra) var(--size);
    transform: translateY(1000px) translateX(1000px);

    animation: bloco9 2s forwards;
    animation-delay: 4s;
}

@keyframes bloco9 {
    100%{
        transform: translateY(0) translateX(0);
    }
}




#lineLeft{
    transform: scale(0) rotate(45deg);

    animation: growthL var(--timeAppear) forwards;
}

#lineRight{
    position: absolute;
    transform: scale(0) rotate(135deg);

    animation: growthR var(--timeAppear) forwards;
}



@keyframes growthL {

    60%{
        transform: scale(1.5) rotate(45deg);
    }

    100%{
        transform: scale(1) rotate(45deg);
    }
}


@keyframes growthR {

    60%{
        transform: scale(1.5) rotate(135deg);
    }

    100%{
        transform: scale(1) rotate(135deg);
    }
}


#Bola{
    width: 100px;
    height: 100px;
    border: solid var(--color-circle) 7px;
    box-sizing: border-box;
    border-radius: 100%;

    transform: scale(0);

    animation: growthCircle var(--timeAppear) forwards;
}

@keyframes growthCircle {
    60%{
        transform: scale(1.2);
    }

    100%{
        transform: scale(1);
    }
}



.lineX{
    width: 450px;
    height: 7px;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    background-color: var(--color-X);

    animation: lineLong 1s forwards;
}


.lineB{
    width: 450px;
    height: 7px;
    position: absolute;
    z-index: 1;
    border-radius: 3px;
    background-color: var(--color-circle);

    animation: lineLong 1s forwards;
}



@keyframes lineLong {
    0%{
        width: 0;
    }

    100%{
        width: 450px;
    }
}


#HorizontalLine{
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
}

#VerticalLine{
    top: 150%;
    left: 50%;
    transform: translate( -50%, -50%) rotateZ(90deg);
}

#DiagonalLineL{
    width: 600px;
    top: -50%;
    left: 150%;
    transform: translate( -50%, -50%) rotateZ(135deg);
}

#DiagonalLineR{
    width: 600px;
    top: 150%;
    left: 150%;
    transform: translate( -50%, -50%) rotateZ(45deg);
}